.uk-title a {
  font-weight: bold;
  color: #148ff5 !important;
}

.uk-navbar-container {
  position: fixed;
  width: 100%;
  top: 0px;
  box-shadow: 0px 5px 30px rgba(0,0,0,0.1);
}

.uk-section {
  margin-top: 80px;
  background: white;
  min-height: 100vh;
}

.about-image {
  height: 58vh;
}

@media screen and (min-width: 768px) {
  .about-image {
    height: 100vh;
  }
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  height: 60px;
  min-height: 60px;
}

.uk-logo {
  /* font-weight: 100; */
  font-size: 1.5rem;
  color: white;
}

.footer {
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1.5rem 0;
  background: black;
  color: white;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 3px 3px 100px 2px rgba(0,0,0,0.1);
}

button, .button {
  background: #1a5cff linear-gradient(55deg,rgba(26,92,255,1) 0,rgba(0,123,255,1) 100%);
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 0.5rem;
  display: inline-block;
  font-weight: bold;
  border-radius: 5rem;
  transition: all .5s ease !important;
}

button:hover, .button:hover {
  background: black !important;
  color: white !important;
  box-shadow: 2px 3px 25px 10px rgba(0,0,0,0.1);
}
